.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ttawon .crdtkn-header {
  background-color: rgb(241, 222, 253);
}

.ttamin .crdtkn-header,
.ttamca .crdtkn-header,
.ttamar .crdtkn-header,
.ttamai .crdtkn-header {
  background-color: rgb(255, 223, 223);
}

.ttapfa .crdtkn-header,
.ttapmi .crdtkn-header {
  background-color: rgb(252, 235, 209);
}

.ttaula .crdtkn-header,
.ttaute .crdtkn-header,
.ttauar .crdtkn-header,
.ttauth .crdtkn-header,
.ttauli .crdtkn-header {
  background-color: rgb(234, 238, 241);
}

.ttasmi .crdtkn-header,
.ttasci .crdtkn-header,
.ttascl .crdtkn-header,
.ttasco .crdtkn-header {
  background-color: rgb(223, 241, 255);
}

.ttater .crdtkn-header {
  background-color: rgb(223, 255, 227);
}